ul, ol, p, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1E1E24;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.button {
  background: #03FFA4;
  border-radius: 22.5px;
  padding: 15px 58px;
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #27272D;
  transition: 0.3s all ease;
  display: inline-block;
}
.button:hover {
  box-shadow: 0px 0px 15px rgba(3, 255, 164, 0.5);
  color: #27272D;
}
.button.buy_card {
  padding: 12px 65px;
  border: 1px solid #03FFA4;
  border-radius: 10px;
  background-color: transparent;
  color: #03FFA4;
  text-align: center;
}
@media (max-width: 992px) {
  .button.buy_card {
    padding: 12px;
  }
}

header {
  background: #303038;
  padding: 17px 0;
  position: relative;
}
@media (max-width: 768px) {
  header .header_laptop {
    display: none;
  }
}
header .header_mobile {
  display: none;
}
@media (max-width: 768px) {
  header .header_mobile {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
    align-items: center;
  }
}
header .header_mobile .hamburger_menu {
  display: none;
  position: absolute;
  right: 0;
  bottom: -45px;
  width: 265px;
  height: 65%;
}
header .header_mobile .hamburger_menu.show {
  display: block;
}
header .header_mobile .hamburger_menu .mobile_top {
  display: flex;
  align-items: center;
  gap: 22px;
  padding: 21px 20px 30px 31px;
  background: #303038;
}
header .header_mobile .hamburger_menu .mobile_top .left_block {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
header .header_mobile .hamburger_menu .mobile_top .left_block a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
header .header_mobile .hamburger_menu .mobile_top .left_block a:nth-child(2) {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6F81;
}
header .header_mobile .hamburger_menu .mobile_bottom {
  background: #303038;
}
header .header_mobile .hamburger_menu .mobile_bottom .links {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
header .header_mobile .hamburger_menu .mobile_bottom .links a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  padding: 16px 20px;
  background: #27272D;
}
header .header_mobile .hamburger_menu .mobile_bottom .links a:nth-child(3) {
  margin-bottom: 5px;
}
header .header_nav {
  list-style: none;
  gap: 53px;
}
header .header_nav a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s all ease;
  font-weight: 500;
}
header .header_nav a:hover {
  color: #03FFA4;
}
header .header_action {
  gap: 10px;
}
header .header_action a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #27272D;
  border-radius: 5px;
  height: 45px;
  width: 45px;
  transition: 0.3s all ease;
  border: 2px solid #27272D;
}
header .header_action a:hover {
  border-color: #03FFA4;
}

.hero {
  background-image: url(../images/hero_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 80px);
}
.hero .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero .hero_texts .hero_title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}
.hero .hero_texts .hero_title span {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
}
.hero .hero_texts .hero_description {
  margin: 10px 0 62px 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #949494;
  max-width: 525px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.available {
  color: #6F6F81;
  background: #27272D;
  padding: 20px 0;
}
.available .proxy_servers {
  display: flex;
  align-items: center;
  gap: 17px;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .available .proxy_servers {
    justify-content: space-between;
  }
}
.available .available_item span {
  color: #03FFA4;
}
.available .available_title {
  position: relative;
  display: flex;
  gap: 22px;
  align-items: center;
}
.available .available_title .indicator {
  width: 15px;
  height: 15px;
}
.available .available_title .indicator::before {
  content: "";
  display: block;
  height: 21px;
  width: 21px;
  background: rgba(3, 255, 164, 0.25);
  position: absolute;
  left: -30px;
  top: 0;
  border-radius: 50%;
  bottom: 0;
  margin: auto;
  animation: pulse 2s ease-in-out infinite;
}
@media (max-width: 768px) {
  .available .available_title .indicator::before {
    left: 0px;
  }
}
.available .available_title .indicator::after {
  content: "";
  display: block;
  height: 15px;
  width: 15px;
  background: #03FFA4;
  position: absolute;
  left: -27px;
  top: 0;
  border-radius: 50%;
  bottom: 0;
  margin: auto;
}
@media (max-width: 768px) {
  .available .available_title .indicator::after {
    left: 3px;
  }
}
@media (max-width: 768px) {
  .available .available_title {
    gap: 20px;
  }
  .available .available_title p {
    display: none;
  }
}

.advantages {
  background: #1E1E24;
}
.advantages .row {
  gap: 60px 0;
  padding: 35px 0 55px 0;
}
.advantages .row .advantages_item {
  position: relative;
  text-align: center;
}
.advantages .row .advantages_item .advantages_image {
  position: relative;
  z-index: 1;
}
.advantages .row .advantages_item .advantages_bg {
  position: absolute;
  z-index: 1;
  transition: 0.3s all ease;
}
.advantages .row .advantages_item .advantages_title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin: 24px 0 6px 0;
  z-index: 100;
  position: relative;
}
.advantages .row .advantages_item .advantages_description {
  max-width: 297PX;
  margin: 0 auto;
  z-index: 100;
  position: relative;
}
.advantages .bottom_wall {
  height: 60px;
  background: #27272D;
}

.cards {
  padding: 107px 0 102px 0;
  background: #1E1E24;
}
.cards .row {
  row-gap: 50px;
}
.cards .row .col-xl-4 {
  max-width: 326px;
}
.cards .row .col-xl-4 .card {
  border-radius: 15px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-width: 15px;
  border-color: #03A4FF;
  background: #303038;
}
.cards .row .col-xl-4 .card .card-body {
  padding: 24px 27px 52px 27px;
}
.cards .row .col-xl-4 .card .card-body .card_header {
  text-align: center;
  margin-bottom: 27px;
}
.cards .row .col-xl-4 .card .card-body .card_middle {
  margin-bottom: 33px;
}
.cards .row .col-xl-4 .card .card-body .card_middle .card_title {
  font-weight: 500;
  margin-bottom: 28px;
}
.cards .row .col-xl-4 .card .card-body .card_middle .card_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  height: 74px;
}
.cards .row .col-xl-4 .card .card-body .card_bottom ul {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.cards .row .col-xl-4 .card .card-body .card_bottom li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
  padding-left: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #949494;
}
.cards .row .col-xl-4 .card .card-body .card_bottom li:first-child {
  border-top: 1px solid #4A4A57;
  border-bottom: 1px solid #4A4A57;
  padding: 13px 0 13px 10px;
}
.cards .row .col-xl-4:nth-child(2) .card {
  border-color: #FF9A03;
}
.cards .row .col-xl-4:nth-child(3) .card {
  border-color: #03FFA4;
}
@media (max-width: 992px) {
  .cards {
    padding: 80px 0;
  }
}

.search {
  margin-bottom: 33px;
}
.search .search_bar {
  background: #303038;
  padding: 7px 0;
  margin-bottom: 30px;
}
.search .search_bar input {
  height: 46px;
  background: #27272D;
  border-radius: 23px;
  outline: none;
  color: #fff;
  box-shadow: none;
  padding-left: 56px;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: 16px center;
  border: 1px solid transparent;
  transition: 0.3s all ease;
}
.search .search_bar input:focus {
  border-color: #03FFA4;
}
.search .countries_block {
  margin-bottom: 29px;
}
.search .countries_block ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 7px;
  justify-content: flex-start;
}
.search .countries_block ul .country_item {
  flex: 0 0 auto;
  width: calc(25% - 5.5px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #303038;
  border-radius: 5px;
  padding: 7px 8px 7px 15px;
}
.search .countries_block ul .country_item .country_number {
  height: 46px;
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #27272D;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #03FFA4;
}
.search .countries_block ul .country_item:nth-child(n+13) {
  display: none;
}
@media (max-width: 992px) {
  .search .countries_block ul .country_item {
    width: calc(33.33% - 5px);
  }
}
@media (max-width: 768px) {
  .search .countries_block ul .country_item {
    width: calc(50% - 5px);
  }
}
@media (max-width: 576px) {
  .search .countries_block ul .country_item {
    width: 65%;
    margin: 0 auto;
  }
}
.search .more_countries {
  padding: 25px 65px;
  border: 1px solid #03FFA4;
  border-radius: 34.5px;
  color: #03FFA4;
  background: transparent;
  display: flex;
  justify-content: center;
  max-width: 263px;
  margin: 0 auto;
}
.search .more_countries:hover {
  color: #000;
  background-color: #03FFA4;
}

.buy_card {
  background: #1E1E24;
  margin-bottom: 61px;
}
.buy_card .row .card {
  background: #303038;
  border-radius: 15px;
  border-width: 15px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-color: #03A4FF;
  padding: 21px 42px 31px 37px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-width: 255px;
  max-height: 233px;
}
.buy_card .row .card.card-green {
  border-color: #03FF77;
}
.buy_card .row .card.card-orange {
  border-color: #FFB803;
}
.buy_card .row .price-time {
  background-image: url(../images/clock.svg);
  background-repeat: no-repeat;
  background-position: left center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 9px;
}
.buy_card .row .price-card {
  background-image: url(../images/credit.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
  padding-left: 40px;
}
@media (max-width: 768px) {
  .buy_card .row {
    gap: 20px;
  }
}

.payments {
  padding: 30px 20px;
  background: #27272D;
  margin-bottom: 40px;
}
.payments .payments_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
}
.payments .payments_list a img {
  max-width: 100%;
}
@media (max-width: 992px) {
  .payments .payments_list {
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .payments .payments_list {
    justify-content: center;
    gap: 32px;
  }
}

footer .footer_row {
  gap: 27px 0;
}
footer .footer_logo {
  margin-bottom: 60px;
}
footer .footer_contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 9px;
}
footer .footer_contacts a {
  display: flex;
  align-items: center;
  gap: 11px;
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #fff;
}
footer .footer_action {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 9px;
  list-style: none;
}
footer .footer_action a {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-decoration: none;
}
footer .terms {
  text-align: right;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #949494;
}
footer .assign {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #868687;
}

@media (max-width: 768px) {
  .footer_laptop {
    display: none;
  }
}

.footer_mobile {
  display: none;
}
@media (max-width: 768px) {
  .footer_mobile {
    display: flex;
  }
}
.footer_mobile .mobile_row {
  gap: 27px;
}
.footer_mobile .footer_logo {
  margin-bottom: 0;
}
.footer_mobile .footer_contacts {
  align-items: center;
}
.footer_mobile .terms {
  text-align: center;
  padding: 0 40px;
}

.to_top_button {
  bottom: 45px;
  opacity: 1;
  visibility: visible;
}/*# sourceMappingURL=main.css.map */